@using UiEcommer.Models
<li class="@(HasChild ? "has-list" : "")">
    <a href="@category.Link">
        <span class="@(HasChild ? "has-child" : "")">@category.Name</span>
    </a>
    @if (category.InverseParent.Any())
    {
        <div class="navmwg">
            @foreach (var item in category.InverseParent)
            {
                <div class="item-child ">
                    <strong>
                        @item.Name
                    </strong>
                    @foreach (var itemChild in item.InverseParent)
                    {
                        <a href="@itemChild.Link"><h3>@itemChild.Name</h3></a>
                    }
                </div>
            }
        </div>
    }
</li>

@code {
    [Parameter]
    public Category category { get; set; }
    private bool HasChild { get; set; }

    protected override void OnInitialized()
    {
        HasChild = category.InverseParent.Any();
    }
}
