@using UiEcommer.Models
@inject IConfiguration Configuration

<div class="Kxajl">
    <ul class="listproduct">
        @foreach (var item in products)
        {
            <li class=" item ajaxed __cate_522">
                <a href="@item.Link" class="main-contain">
                    <div class="item-label">
                        <span class="lb-tragop">Tra&#x309; go&#x301;p 0.5%</span>
                    </div>
                    <div class="item-img item-img_522">
                        <img class="lazyload thumb" data-src="@Configuration["Api"]/@item.Avatar" alt="@item.Name">
                    </div>
                    <h3>
                        @item.Name
                    </h3>
                    @if (item.Percent > 0)
                    {
                        <div class="box-p">
                            <p class="price-old black">@item.UnitPrice.ToString("N0")&#x20AB;</p>
                            <span class="percent">-@item.Percent.ToString("N0")%</span>
                        </div>
                    }
                    <strong class="price">@(item.Promo==0 ? item.UnitPrice.ToString("N0") : item.Promo.ToString("N0"))&#x20AB;</strong>
                </a>
                <div class="item-bottom">
                    <a href="#" class="shiping"></a>
                </div>
                <a href="javascript:void(0)" class="item-ss">
                    <i></i>
                    So sánh
                </a>
            </li>
        }
    </ul>
</div>
@code {
    [Parameter]
    public List<Product> products { get; set; }
    }
