@using UiEcommer.Models

@inject IConfiguration Configuration
<div class="cate-feature">
    <strong class="name-box">Danh mục nổi bật</strong>
    <div class="box-cate">
        <aside>
            @foreach (var item in categorys.Take(10))
            {
                <h3>
                    <a href="@item.Link">
                        <div class="img-boxcate">
                            <img data-src="@Configuration["Api"]/@item.Icon" alt="@item.Name" class="lazyload">
                        </div>
                        <span>@item.Name</span>
                    </a>
                </h3>
            }
        </aside>
        <aside>
            @foreach (var item in categorys.Skip(10))
            {
                <h3>
                    <a href="dtdd">
                        <div class="img-boxcate">
                            <img data-src="@Configuration["Api"]/@item.Icon" alt="@item.Name" class="lazyload">
                        </div>
                        <span>@item.Name</span>
                    </a>
                </h3>
            }
        </aside>
    </div>
</div>
@code {
    [Parameter]
    public List<Category> categorys { get; set; }
}
