@using UiEcommer.Models
@using UiEcommer.Client
@inject IConfiguration Configuration
@inject IJSRuntime JS
<div class="daily-sg">
    <strong class="name-box">G&#x1EE3;i &#xFD; h&#xF4;m nay</strong>
    <div class="option-sg">
        @foreach (var item in promos)
        {
            <a @onclick="()=>LoadPromo(item)" href="javascript:;" class="@((selectedPromo ?? promos.FirstOrDefault()) == item ? "active" : "")">
                <img data-src="//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/goiy-1.png" class="lazyload" alt="Cho bạn" width=50 height=50>
                <span>@item.Name</span>
            </a>
        }
    </div>
    <div class="block-product relative">
        <div class="preloader">
            <div class="loaderweb"></div>
        </div>
        <div class="block-product__content">
            <ul class="listproduct">
                @if (currentPromoDetails.Count > 0)
                {
                    foreach (var item in currentPromoDetails)
                    {
                        <li data-id="250261" data-pos="1" class="item ">
                            <a href="@item.Product.Link" class=" main-contain">
                                <div class="item-label">
                                </div>
                                <div class="item-img">
                                    <img data-src="@Configuration["Api"]/@item.Product.Avatar" src="@Configuration["Api"]/@item.Product.Avatar" class="lazyload" alt="iPhone 13 Pro Max 256GB" width=207 height=207>
                                </div>
                                <p class='result-label temp4'><img width="20" height="20" class="lazyload" alt="VNPAY GIẢM 500k" data-src="https://cdn.tgdd.vn/2020/10/content/icon6-50x50.png"><span>VNPAY GIẢM 500k</span></p>
                                <h3>@item.Product.Name</h3>
                                <p class="item-txt-online">Online gia&#x301; re&#x309;</p>
                                <strong class="price">
                                    @item.UnitPricePromo.ToString("N0")&#x20AB;
                                    @if (@item.Percent > 0)
                                    {
                                        <small>-@item.Percent %</small>
                                    }
                                </strong>
                                <p class="vote-txt">
                                    <b>4.5</b><i class="iconnewglobal-vote"></i>(186)
                                </p>
                            </a>
                        </li>
                    }
                }
            </ul>
            <a href="@selectedPromo.Link" class="readmore-btn"><span>Xem thêm</span></a>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public List<Promo> promos { get; set; }
    [Parameter]
    public List<PromoDetail> currentPromoDetails { get; set; } = new List<PromoDetail>();
    [Parameter]
    public Promo currentPromo { get; set; } = new Promo();
    public Promo selectedPromo { get; set; }

    protected override void OnParametersSet()
    {
        selectedPromo = currentPromo;
    }

    public async Task LoadPromo(Promo promo)
    {
        selectedPromo = promo;
        currentPromoDetails = await new Client(nameof(PromoDetail), Configuration).GetList<PromoDetail>($"?$expand=Product($select=Id,Name,Avatar,Link)&$filter=Active eq true and PromoId eq {promo.Id}");
    }
}
