@using UiEcommer.Models
@using UiEcommer.Client
@inject IConfiguration Configuration
@inject IJSRuntime JS
@{
    var now = DateTime.Now;
}
<div class="flashsale-block">
    <div class="stage-two"><div class="load"></div></div>
    <div class="gvdshock">
        <i class="lightning-ic">
            <img width="32" height="70" src="//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/lightning-ic.png" alt="lightningicon" />
        </i>
        <h3>GIỜ VÀNG DEAL SỐC</h3>
        <div class="endtime" data-countdown="@currentPromo.To?.ToString("MM/dd/yyyy hh:mm tt")" data-begin="@currentPromo.From?.ToString("MM/dd/yyyy hh:mm tt")">
            <span class="title-end">Kết thúc trong</span>
            <span class="countdown-timer calling">
                <label id="hour">00</label>
                <label id="minute">00</label>
                <label id="second">00</label>
            </span>
        </div>
    </div>
    <div class="listing-timeline">
        @foreach (var item in promos)
        {
            <a href="javascript:;" class="@(currentPromo == item ? "active" : "")" data-promoid="@(item.Id)" data-current="@(currentPromo == item ? "true" : "false")">
                @if (currentPromo == item)
                {
                    <span>Đang diễn ra</span>
                }
                else
                {
                    <span>S&#x1EAF;p di&#x1EC5;n ra</span>
                }
                <span class="timeline">@item.From?.ToString("HH:mm") - @item.To?.ToString("HH:mm")</span>
            </a>
        }
    </div>
    <div class="box-scroll">
        <div class="listproduct slider-flashsale has-slick">
            @foreach (var item in currentPromoDetails)
            {
                <div class="item">
                    <a href="@item.Product.Link" class="remain_quantity main-contain">
                        <div class="item-img">
                            <img data-src="@Configuration["Api"]/@item.Product.Avatar" src="@Configuration["Api"]/@item.Product.Avatar" class="lazyload" alt="@item.Product.Name" width=207 height=207>
                        </div>
                        <h3>@item.Product.Name</h3>
                        <strong class="price">
                            @item.UnitPricePromo.ToString("N0")&#x20AB;
                            <small>-@item.Percent %</small>
                        </strong>
                        <div class="fs-contain" style="">
                            @if (item.UsingQuantity > 0)
                            {
                                <img width="15" height="15" src="/images/fs-iconfire.png" alt="icon flashsale">
                                <span class="rq_count fscount ">
                                    <i style="width:@item.PercentQty%;" class="fs-iconfire">
                                    </i>
                                    <b>Còn @item.RemainQuantity.ToString("N0")/@item.Quantity.ToString("N0") suất</b>
                                </span>
                            }
                            else
                            {
                                <img width="15" height="15" src="/images/fs-iconfire.png" alt="icon flashsale">
                                <span class="rq_count fscount just-sale">
                                    <b>Vừa mở bán</b>
                                </span>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@code {
    [Parameter]
    public List<Promo> promos { get; set; } = new List<Promo>();
    [Parameter]
    public List<PromoDetail> currentPromoDetails { get; set; } = new List<PromoDetail>();
    [Parameter]
    public Promo currentPromo { get; set; } = new Promo();
}
